<h1>Listing articles</h1>
 
<table>

  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Pin</th>
  </tr>

  <%= link_to 'New Item', new_article_path %>
 
  <% @articles.each do |article| %>
    <tr>
     
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= article.pin %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
   
        <td><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>s
    </tr>
  <% end %>

</table>

      <h1>Hello, Rails!</h1>
      <%= form_with scope: :article, url: articles_path, local: true do |form| %>
  
   <% end %>
 
      <%= link_to 'Back', articles_path %>
