<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<p>
  <strong>Pin:</strong>
  <%= @article.pin %>
</p>

<h2>Products</h2>
<% @article.products.each do |product| %>
  <p>
    <strong>Name:</strong>
    <%= product.Name%>
  </p>
 
  <p>
    <strong>Info:</strong>
    <%= product.Info %>
  </p>
<p>
    <strong>Quantitiy:</strong>
    <%= product.Quantitiy %>
  </p>

<% end %>


<h2>Add a product:</h2>
   
   <%= form_with(model: [ @article, @article.products.build ]) do |form| %> 
  <p>
    <%= form.label :Name %><br>
    <%= form.text_field :Name %>
  </p>

  <p>
    <%= form.label :Info %><br>
    <%= form.text_area :Info %>
  </p>

  <p>
    <%= form.label :Quantitiy %><br>
    <%= form.number_field :Quantitiy %>
   
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>

